.homeSection{
  margin: 0 auto;
  padding: 50px 100px;
}

.homeSection h1{
  font-size: 2rem;
  margin-bottom: 8px;
}

.homeDesc{
  font-size: 1.25rem;
  color: #6c7881;
}

@media (max-width: 900px) {
  .homeSection{
    padding: 50px 50px;
  }
}